In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
#create data for one-hot-encoding
data = {
    'Employee id': [10, 20, 15, 25, 30],
    'Gender': ['M', 'F', 'F', 'M', 'F'],
    'Remarks' : ['Good', 'Nice', 'Good', 'Great', 'Nice']
}

In [6]:
#convert it into a pandas dataframe
df = pd.DataFrame(data)
df

   Employee id Gender Remarks
0           10      M    Good
1           20      F    Nice
2           15      F    Good
3           25      M   Great
4           30      F    Nice

In [7]:
#perform one-hot-encoding on the categorical data
df_encoded = pd.get_dummies(df, columns=['Gender', 'Remarks'], drop_first=True)
df_encoded

   Employee id  Gender_M  Remarks_Great  Remarks_Nice
0           10      True          False         False
1           20     False          False          True
2           15     False          False         False
3           25      True           True         False
4           30     False          False          True

In [12]:
encoder = OneHotEncoder(sparse_output=False)
categorical_columns = df.select_dtypes(include=['object']).columns.tolist()

one_hot_encoded = encoder.fit_transform(df[categorical_columns])
one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(categorical_columns))

In [13]:
#concat the 2 columns
df_sklearn_encoded = pd.concat([df.drop(categorical_columns, axis=1), one_hot_df], axis=1)
print(f"One-Hot Encoded Data using Scikit-Learn:\n{df_sklearn_encoded}\n")

One-Hot Encoded Data using Scikit-Learn:
   Employee id  Gender_F  Gender_M  Remarks_Good  Remarks_Great  Remarks_Nice
0           10       0.0       1.0           1.0            0.0           0.0
1           20       1.0       0.0           0.0            0.0           1.0
2           15       1.0       0.0           1.0            0.0           0.0
3           25       0.0       1.0           0.0            1.0           0.0
4           30       1.0       0.0           0.0            0.0           1.0